.btn,
.btn2 {
    transition: all .3s;
}

.btn:hover {
    &:hover {
        background-color: var(--secondary);
    }
}

.btn2:hover {
    &:hover {
        background-color: var(--primary);
        color: white;
    }
}

.input {
    width: 100%;
    &:focus-within {
      /* outline: 2px solid var(--primary); */
      border-color: var(--primary);
      /* border-radius: 5px; */
    }
  }

@media (width<900px) {
    .container{
        flex-direction: column;
    }
    .container>div,
    .container>img{
        width: 100% !important;
    }
}

