@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --primary: #B21222;
    --secondary: rgba(178, 18, 34, 0.50);
    --black: #1D1D1B;
}


body {
    font-family: "Cairo", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "slnt" 0;

    color: var(--black) !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


@media (width<500px) {
    .page {
        padding-inline: 2% !important;
    }
}




/* animation */

.toBottomAnimation {
    transform: translateY(-50px);
    animation: animation 1s forwards;
}

.toTopAnimation {
    transform: translateY(50px);
    animation: animation 1s .5s forwards;
}

@keyframes animation {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}